# Git Submodule Configuration

# BEGIN: Submodule 1
[submodule "PredicTables"]
  path = PredicTables
  url = https://github.com/aaweaver-actuary/predictables.git
# END: Submodule 1

# BEGIN: Submodule 2
[submodule "predictables-plot"]
  path = predictables-plot
  url = https://github.com/aaweaver-actuary/predictables-plot.git
# END: Submodule 2
