.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4a56e2;
  padding: 10px 20px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
